<div class="container">
{{1+1}}

 <!--sandMainCtrl as main on route level -->
    <header class="row">
        <div class="page-header">
            <h1>Task Manager
                <span class="glyphicon glyphicon-th pull-right"></span>
            </h1>
        </div>
    </header>

    <!-- action bar -->
    <section class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <button class="btn btn-default" ng-click="main.changeLIstView(main.listStatus = !main.listStatus)">show/hide completed</button>
                <button class="btn btn-default" ng-click="main.clearLog()">Clear Log</button>

            </div>
        </div>
    </section><!-- /action bar -->

    <div class="row">

        <!-- task log -->
        <div class="col-lg-3" ng-controller="sandLogCtrl as logging">
            <ul class="list-unstyled" ng-repeat="log in logging.LogList ">
                <li>{{log.time}} {{log.title}}</li>

            </ul>
        </div> <!-- /task log -->

        <!-- task table -->
        <div class="col-lg-7">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Done</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody >

                <tr ng-repeat="item in main.filterTodoList" ng-class="{Active: item.done}">
                    <td class="text-center"><input class="input" type="checkbox" ng-model="item.done" ng-change="main.checked()"/></td>
                    <td>{{item.title}}</td>
                    <td>{{item.des}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-danger" ng-click="main.removeItem($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="main.editItem(item)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div><!-- /task table -->

        <!-- task form -->
        <div class="col-lg-2">

            <form class="form-horizontal">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="main.todoItem.title" placeholder="Title">
                </div>

                <div class="form-group">
                    <textarea rows="6" class="form-control" ng-model="main.todoItem.des" placeholder="Description"></textarea>
                </div>

                <div class="form-group">
                    <button class="form-control btn btn-primary" ng-click="main.addItem()">Add</button>
                </div>
            </form>
        </div><!-- /task form -->

    </div>
</div><!-- /container-->


<div bb-stopwatch options="main.options" override=true>
    <div class="container">
        <div class="stopWatch numbers">
            {{options.elapsedTime | stopwatchTime}}
        </div>
        <button class="btn" ng-click="startTimer()">Start</button>
        <button class="btn" ng-click="stopTimer()">Stop</button>
        <button class="btn" ng-click="resetTimer()">Reset</button>
        {{main.myName}}{{watch.myName}}
    </div>
</div>
